<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Abstract" version="0.5.0" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" allowedVersions="[2.1.505.2]" targetFramework="net35" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>