<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Abstract" version="1.0.0" targetFramework="net40" />
  <package id="Hiro" version="1.0.3" allowedVersions="[1.0.3]" targetFramework="net35" />
  <package id="Hiro" version="1.0.5.17956" targetFramework="net40" />
  <package id="Hiro.Containers" version="1.0.2.29326" targetFramework="net40" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net40" />
  <package id="NGenerics" version="1.4.1.0" targetFramework="net40" />
</packages>